
@import 'breakpoints';

.show_badges_collection{
    // display: unset;
    // display: flex;
    // justify-content: space-between;
    // gap: 10px;
    // padding: 1rem 0;
    // .card__information{
    //     padding-top: unset;
    // }
    .badge_with_vendor{
        display: flex;
        justify-content: space-between;  
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    .card__badge{
        display: block !important;
        max-width: fit-content; 
        .badge{  
            font-size: 10px;
            word-break: keep-all !important;
            white-space: nowrap;
            line-height: 1.4;
            padding: 0.3rem 0.7rem;
            @media (min-width: 1380px){
                font-size: 12px;
                padding: 0.6rem 1.3rem;
            }
        }
    }
    .card__information{
        // padding: unset !important;
    }
    .card__heading{
        margin: 0;
    }
}


.grid--5-col-desktop .grid__item{

    

        width: calc(50% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
        max-width: calc(50% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
    
    @media (--sm){
        width: calc(33% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
        max-width: calc(33% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
    }
    @media (--md){
        width: calc(25% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
        max-width: calc(25% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
    }
    @media (--md-large){
        width: calc(20% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
        max-width: calc(20% - var(--grid-desktop-horizontal-spacing)* 4 / 5) !important;
    }  
}
.card__information{
    padding: 0.4rem 0 !important;
    @media (--sm) {
        padding: 1rem !important;
    }
}