<div class="instagram_feed_wrapper">
</div>

{% schema %}
{
    "name": "Instagram Feed",
    "settings": [
        {
            "type": "richtext",
            "id": "section_title",
            "label": "Section Title"
        }
    ],
    "presets": [
        {
            "name": "Instagram Feed"
        }
    ]
}
{% endschema %}