.refer-friend-section{
    position: relative;
    margin-top: 70px;
}
.refer-friend-section .wave--top{
    position: absolute;
    top: -100px;
    z-index: -1;
}
.refer-friend-section .wave--bottom{
    position: absolute;
    bottom: -90px;
    z-index: -1;
}
.refer-friend-section .refer-friend-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.refer-friend-wrapper-image {
    flex: 1 0 50%;
    text-align: center;
}
.refer-friend-wrapper-info {
    flex: 1 0 50%;
}
.refer-friend-wrapper-info .refer-friend-wrapper-info-wrap{
    width: 75%;
}
.refer-friend-wrapper-info .refer_heading{
    color: #541686;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin: 0;    
}
.refer-friend-wrapper-info .refer_description{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #541686;
    line-height: 1.4;
    display: block;
    margin-bottom: 40px;
}
.refer-friend-wrapper-info .sign_up{
    background: #FFF;
    text-decoration: none;
    padding: 1.5rem 4rem;
    color: #541686;
    font-size: 15px;
    font-weight: 700;
}
.refer-friend-wrapper-info .log_in{
    background: #FFF;
    text-decoration: none;
    padding: 1.5rem 4rem;
    color: #541686;
    font-size: 15px;
    font-weight: 700;
    margin-left: 20px;
}
.copy-text-container.referral{
    position: relative;
    border-radius: 5px;
    border: 1px solid #541686;
    align-items: center;
    padding: 4px 6px;
}
input.text-input.with-system-btn.referral-url {
    min-height: 42px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    border: 0;
    width: 100%;
}
.copy-text-container.referral svg {
    cursor: pointer;
}

.social-media-links-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 3em;
    row-gap: 1em;
    margin-top: 2em;
}

.social-media-icon-text {
    margin: 0 auto 1em;
    text-align: center;
    color: #541686;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.social-media-content-wrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

@media(min-width: 1200px){
    .refer-friend-wrapper-info .refer_heading{
        font-size: 44px;
    }
    .refer-friend-section{
        margin-top: 70px;
        margin-bottom: 140px;
    }
    .refer-friend-section .refer-friend-wrapper{
        flex-direction: row;
    }
}

@media screen and (max-width: 1275px){   
    .refer-friend-section .wave--top {
      top: -56px;
    }    
    .refer-friend-section .wave--bottom {
        bottom: -56px;
    }
}

@media screen and (max-width: 1024px) {
    .refer-friend-section {
        margin-top: 2em;
        margin-bottom: 6em;
    }
    .refer-friend-wrapper-info {
        justify-content: center;
        display: flex;
    }
}

@media screen and (max-width: 820px) {
    .refer-friend-section {
        margin-top: 3em;
    }
}

@media screen and (max-width: 767px) {
    .refer-friend-section {
        margin-top: 25px;
        margin-bottom: 71px;
    }
    .refer-friend-section .wave--top {
      top: -30px;  
    }
    .refer-friend-section .wave--bottom {
      bottom: -30px;  
    }
    .refer-friend-wrapper-info .refer-friend-wrapper-info-wrap {
        width: 91%;
        margin: auto;
    }
    .refer-friend-wrapper-info .refer_heading {
        margin: 1em 0 0;
    }
    .refer-friend-wrapper-info .refer_description p {
        margin-top: 10px;
    }
}

@media screen and (max-width: 425px) {
    .refer-friend-section {
        margin-top: 30px;
    }
    .refer-friend-wrapper-info .refer_description {
        font-size: 16px;
    }
    .social-media-links-section {
        margin-top: 2.67em;
        justify-content: space-between;
    }
}

@media screen and (max-width: 390px) {
    .refer-friend-section .wave--top {
        top: -24px;
    }
}

@media screen and (max-width: 375px) { 
    .refer-friend-section .wave--bottom {
        bottom: -28px;
    }
}

@media screen and (max-width: 320px) {
    .refer-friend-wrapper-image img {
        width: 100%;
        padding: 0 2em;
        height: 330px;
    }
    .refer-friend-wrapper-info .sign_up, .refer-friend-wrapper-info .log_in {
        padding: 1.5rem 2.5rem;
    }
}