.instagram_feed_wrapper{
    padding: 72px;
}
 .section_title{
    color: #000;
}
@media (max-width: 767px){
    .instagram_feed_wrapper{
        padding: 15px;
    }
}
.instagram_feed_wrapper .section_title a{
    color: #2A7DE1
}
.instagram_image_section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
}
.instagram_image_section .image_block{
    max-width: calc(100% /4 - 30px);
    flex-basis: 100%;
    margin: auto;
}
@media (max-width: 767px){
    .instagram_image_section .image_block{
        max-width: calc(100% /2 - 16px);
    }
}
.instagram_image_section .image_block img{
    width: 100%;
    margin: auto;
}