.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
  /* max-width: calc(100% - 20%); */
}

@media screen and (max-width: 820px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: 12rem;  
    max-width: 100%;
  }
}

@media screen and (min-width: 821px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 821px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 821px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link, .article-template-content__link {
  font-size: 2.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  grid-column: 2 / 3;
}

.article-template-content__link {
  color: #000;
}

.article-template__link .icon-wrap, .article-template-content__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  overflow-wrap: anywhere;
  margin-top: 3rem;
  margin-bottom: 0;
}

.article-template__content p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0;
}

.article-template__content h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
  margin: 35px 0 30px;
}

.article-template__content p strong img, .article-template__content p img {
  width: 100%;
  margin: 0 0 30px;
}

.article-template__content ul {
  padding-left: 1.5em;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  color: #000;
  margin: 1em 0 0;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    padding: 1em 2em;
  
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 821px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 821px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 821px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}


/*custom*/
.article-template__hero-container .media {
  height: 0 !important;
  padding-bottom: 60%;
}

@media screen and (min-width: 821px) {
  .article-template {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    max-width: 100rem;
  }
  .article-template > div {
    flex-basis: 100%;
  }
  .article-template > div.article-template__hero-container, .article-template header {
    flex-basis: 50%;
  }
  .article-template header > * {
    margin-left: 1.5rem;
  }
  .article-template__hero-container .media {
    height: 0 !important;
    padding-bottom: 100%;
  }
}

.article-template__subtitle {
  text-transform: none;
  font-size: calc(var(--font-heading-scale) * rem);
}

.share-button__button {
  color: #000;
}

.article-template-content__back {
  margin-bottom: 3.2rem;
  display: grid;
  justify-content: space-between;
  column-gap: 2em;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr;
}
.article-template-content__back > div{
  grid-column: 3 / 4;
  text-align: right;
}
.article-template-content__back .footer-share-button .share-button__button{
  display: inline-block;
}

share-component#share_popup, share-component#footer_share_popup {
  display: none;
}

share-component#footer_share_popup {
  transform: translate(150px, -2px);
}

clipboard-button#copy-link {
  cursor: pointer;
}

@media screen and (max-width: 749px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: 5rem;
    max-width: 100%;    
  }
  .article-template-content__back {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    row-gap: 4rem;
    align-items: center;
    max-width: 100%;
    margin-left: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 820px) {
  share-component#footer_share_popup {
    transform: translate(95px, -2px);
  }
}

@media screen and (max-width: 768px) {
  share-component#footer_share_popup {
    transform: translate(75px, -2px);
  }
}

@media screen and (max-width: 750px) {
  share-component#footer_share_popup {
    transform: translate(-30px, -2px);
  }
}