.main-blog-article__section{

}

.main-blog-article__section .article-card .article-card__image-wrapper .article-card__image{
    border-radius: 10px;
}

.main-blog-article__section .blog-articles.blog-articles__per_row{
    display: flex;
    flex-wrap: wrap;
}
.main-blog-article__section .blog-articles.blog-articles__per_row .blog-articles__article{
    display: flex;
    width: 33.3333%;
    padding: 1rem;
}
.main-blog-article__section .article-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main-blog-article__section .article-card .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
.main-blog-article__section .cards__item .card__content .read-more__time{
    display: flex;
    justify-content: space-between;
}
.main-blog-article__section .cards__item .card__content .card__heading{
    font-size: 22px;    
    font-weight: 700;
    color: #427ADA;
    margin-bottom: 0;
    line-height: 1.2;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-blog-article__section .underline-links-hover:hover a{
    text-decoration: none;
}

@media(min-width: 990px){
    .article-card__image--medium .ratio:before {
        padding-bottom: 25rem;
    }
}



.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards__item {
    display: flex;
}
  @media (min-width: 40rem) {
    .cards__item {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    .cards__item {
      width: 33.3333%;
    }
  }
  .card {
    background-color: white;
    border-radius: 0.25rem; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem !important;
  }
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;  
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }
  .card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    .card__image::before {
      padding-top: 53.24%;
    }
  }  
  .card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .card__text {
    flex: 1 1 auto;    
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  